.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color, 2s;
}
.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 1s;
}
.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 2s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: filter 2s;
}
.ex-7-img:hover {
    filter: grayscale(.6) sepia(.5);
}

.ex-8-img {
    transition: filter 2s, border-radius 2s;
}
.ex-8-img:hover {
    filter: grayscale(.6) sepia(.5);
    border-radius: 20px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 2s, border-radius 2s, transform 2s;
}
.ex-9-img:hover {
    filter: grayscale(.6) sepia(.5);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation: loading 1s linear infinite reverse;
}
@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover {
    animation: failed 2s linear;
}
@keyframes failed {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
    animation: moveTop 2s linear;
}
@keyframes moveTop {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: moveBottom 2s linear;
}
@keyframes moveBottom {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: moveTopComplete 3s linear;
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomComplete 3s linear;
}
@keyframes moveTopComplete {
    0% {
        left: 10%;
        top: -10px;
    }
    35% {
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        left: calc(100% - 30px);
        top: 60px;
    }
    75% {
        left: -30px;
        top: 60px;
    }
    90% {
        left: -30px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
@keyframes moveBottomComplete {
    0% {
        bottom: -10px;
        right: 20%;
    }
    35% {
        bottom: -10px;
        right: calc(100% - 30px);
    }
    50% {
        bottom: 60px;
        right: calc(100% - 30px);
    }
    75% {
        bottom: 60px;
        right: -30px;
    }
    90% {
        bottom: -10px;
        right: -30px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}